@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-color: #f7fafc; /* Example: Light gray background */
}

@layer base {
    @font-face {
      font-family: "Poppins";
      src: url(../src/fonts/Poppins-Light.ttf) format("ttf");
    }
}